.model-list{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: clamp(30px, 3.1425vw, 45px) 42px ;
    width: calc(100% + 12px);
    padding: 0 clamp(1px, 1.337vw, 23px) 0 clamp(1px, 3.547vw, 61px) !important;
  
    @media (max-width: (1490px)) {
        padding: 0 !important;
      }

    &__item{
        display: flex;
        position: relative;
    }

    &__title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: var(--font-family);
        font-weight: 700;
        font-size: clamp(26px, 2.3743vw, 34px);
        text-align: center;
        color:  rgba(var(--cl-a),1.0);
        white-space: nowrap;

        b{
            font-size: clamp(38px, 3.4916vw, 50px);
        }
    }

    @include tablet{
        justify-content: space-around;
    }

    @include small-tablet{
        flex-direction: column;
        align-items: center;
    }
}